@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('Ubuntu-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuCondensed-Regular';
    src: url('UbuntuCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-BoldItalic';
    src: url('Ubuntu-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Italic';
    src: url('Ubuntu-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-LightItalic';
    src: url('Ubuntu-LightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('Ubuntu-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-MediumItalic';
    src: url('Ubuntu-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url('Ubuntu-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMono-Bold';
    src: url('UbuntuMono-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMono-BoldItalic';
    src: url('UbuntuMono-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMono-Italic';
    src: url('UbuntuMono-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Thin';
    src: url('Ubuntu-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMono-Regular';
    src: url('UbuntuMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}